################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bookstore/.vs/bookstore
/bookstore/bookstore/bin/Debug/netcoreapp3.1
/bookstore/bookstore/obj
